@model LinkedInDemo.Models.CustomerModel
@using DataLayer
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "ManageUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="mainBlock minheight500">
        <div class="mainBlockTop">
            <div class="mainBlockTopLeft">Add Customer Details</div>
            <div class="back_btn_ara">
                <a id="addtotable1" href="@Url.Action("Index", "ManageUser")" style="color:#33353f"><i class="fa fa-chevron-left"></i>&nbsp;Back</a></div>
        </div>     
        <div class="panel-body">
            <div class="form-horizontal form-bordered innerform">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>                    
                    <div class="pad-top">

                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-success">
                                <h4 style="color:red">@ViewBag.Message </h4>
                            </div>
                        }

                        @if (ViewBag.StatusMessage == "SuccessAdd")
                        {
                            <div class="alert alert-success">
                                <div class="tick">
                                    <span>Record Added Successfully.</span>
                                </div>
                            </div>
                        }

                        @*@if (ViewBag.StatusMessage == "Exists")
                            {
                                <div class=" alert alert-danger">
                                    <div class="cross">
                                        <span>@ViewBag.Message </span>
                                    </div>
                                </div>
                            }*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-10">
                        <ul class="formTop">
                            <li>
                                <span class="lableBlock">
                                    <label class="labelBox" for="inputDefault">First Name*</label>
                                </span>
                                <span class="inputBlock">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", maxlength = 100, @placeholder = "FirstName" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </span>
                            </li>
                            <li>
                                <span class="lableBlock">
                                    <label class="labelBox" for="inputDefault">Last Name *</label>
                                </span>
                                <span class="inputBlock">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", maxlength = 100, @placeholder = "LastName" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </span>
                            </li>
                            <li>
                                <span class="lableBlock">
                                    <label class="labelBox" for="inputDefault">Email *</label>
                                </span>
                                <span class="inputBlock">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", maxlength = 100, @placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </span>
                            </li>
                            <li>
                                <span class="lableBlock">
                                    <label class="labelBox" for="inputDefault">Contact No *</label>
                                </span>
                                <span class="inputBlock">
                                    @Html.TextBoxFor(model => model.Contactno, new { @class = "form-control", maxlength = 15, @placeholder = "Contactno" })
                                    @Html.ValidationMessageFor(model => model.Contactno, "", new { @class = "text-danger" })
                                </span>
                            </li>
                            <li>
                                <span class="lableBlock">
                                    <label class="labelBox" for="inputDefault">Username *</label>
                                </span>
                                <span class="inputBlock">
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", maxlength = 100, @placeholder = "Username" })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </span>
                            </li>
                            <li>
                                <span class="lableBlock">
                                    <label class="labelBox" for="inputDefault">Password *</label>
                                </span>
                                <span class="inputBlock">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", maxlength = 100, @placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </span>
                            </li>

                            <li>
                                <span class="lableBlock">
                                    <label class="labelBox" for="inputDefault">Company Name *</label>
                                </span>
                                <span class="inputBlock">
                                    @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", maxlength = 100, @placeholder = "CompanyName" })
                                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                </span>
                            </li>
                            @*<li>
                                <span class="lableBlock">
                                    <label class="labelBox" for="inputDefault">Date Of Registration *</label>
                                </span>
                                <span class="inputBlock">
                                    @Html.TextBoxFor(model => model.Date_of_Registration, new { @class = "form-control", maxlength = 100, @placeholder = "Date Of Registration" })
                                    @Html.ValidationMessageFor(model => model.Date_of_Registration, "", new { @class = "text-danger" })
                                </span>
                            </li>*@
                            <li>
                                

                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                   
                                        <span class="lableBlock">
                                            <label class="labelBox" for="inputDefault">Date of Registration *</label>
                                        </span>
                                    <span style="min-width:initial">
                                        @*@Html.TextBoxFor(model => model.Date_of_Registration, "{0:dd-MMM-yyyy}", new { htmlAttributes = new { @class = "form-control" } } )
                                        @Html.ValidationMessageFor(model => model.Date_of_Registration, "", new { @class = "text-danger" })*@
                                       @Model.Date_of_Registration.ToString("dd-MMM-yyyy")
                                    </span>
                                   
                                
                            </li>
                            <li class="width100">
                                <div class="offset_30per">
                                     <button class="btnblack">Save</button>
                                    <a class="btnblack btngreay" href="@Url.Action("Create", "ManageUser")">Reset</a>
                                    <a class="btnblack btngreay1" href="@Url.Action("Index", "ManageUser")">Cancel</a>
                                </div>
                                
                            </li>

                        </ul>
                    </div>
                    @*<div class="col-lg-6 col-md-10">
                            Place this tag into <code>&lt;head&gt;&lt;/head&gt;</code> section of your webpage
                            <code>&lt;script src="jquery-1.12.0.min.js"&gt;&lt;/script&gt;</code><br>
                            <code>&lt;script src="eventregistration.renderer.js"&gt;&lt;/script&gt;</code><br>
                            <code>&lt;script src="eventregistration.js"&gt;&lt;/script&gt;</code><br>
                            Place below div where you want LinkedIn button to apper <br />
                            <code>&lt;div class="eventregistration" id="eventid_@ViewBag.EventId"&gt;&lt;/div&gt;</code><br>

                        </div>*@
                </div>
            </div>
        </div>
    </div>
}

