@LinkedInDemo.Models.RegisterCustomerModel
@{
    Layout = null;
}
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link href='https://fonts.googleapis.com/css?family=Nunito:300,400,600' rel='stylesheet' />
    <title>Account Activation Email</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<div style='background-color:#f1f1f1;width:100%;max-width:600px;min-height:600px;margin:0px auto;text-align:center;display:block;'
     font-family: 'Nunito' , sans-serif; color:#000;'>
    <table border='0' cellpadding='0' cellspacing='0' width='80%' style='min-height:400px;' align='center'>
        <tr>
            <td style='height:60px;'></td>
        </tr>
        <tr>
            <td>
                <table border='0' cellpadding='0' cellspacing='0' width='100%' bgcolor='#fff'>
                    <tr>
                        <td style='height:60px;'></td>
                    </tr>
                    <tr>
                        <td align='center'>
                            <img src="@LinkedInDemo.Class.AdminSiteConfiguration.GetURL()/Content/images/logo_eventnx.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td style='height:30px;'></td>
                    </tr>
                    <tr>
                        <td style='text-align:center; font-family: Arial, Helvetica, sans-serif; font-size:24px; color:#333333;'>
                            <b>@ViewBag.Subject</b>
                        </td>
                    </tr>
                    <tr>
                        <td style='height:30px;'></td>
                    </tr>
                    <tr>
                        <td style='text-align:left; padding: 0px 30px;'>
                            <p style="margin: 0px; padding: 0px 0px 20px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000;">
                                Hello @Model.FirstName @Model.LastName,
                            </p>
                            <p style="margin: 0px; padding: 0px 0px 20px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000;">
                                Welcome to
                                EventNX!
                            </p>
                            <p style="margin: 0px; padding: 0px 0px 20px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000; line-height: 22px;">
                                To activate your account, please click on the button below to verify your email address.
                            </p>
                            <p style="margin: 0px; padding: 0px 0px 20px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000;">
                                <a href='https://www.eventnx.com/Account/ActivationAccount/b0e9c8db-2371-42fa-bfde-6dcbe2380b4d'>
                                    <button style="background: #6F1855; color:#fff; border:none; padding:9px 20px; cursor: pointer;"> Activation Account ! </button>
                                </a>
                            </p>
                            <p style="margin: 0px; padding: 0px 0px 20px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000;">
                                Or paste this link into your browser:
                            </p>

                            <p style="margin: 0px; padding: 0px 0px 20px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000; line-height: 22px;">
                                <a href="https://www.eventnx.com/Account/ActivationAccount/b0e9c8db-2371-42fa-bfde-6dcbe2380b4d" target="_blank" style="text-decoration: none; color: #d21180;">https://www.eventnx.com/Account/ActivationAccount/b0e9c8db-2371-42fa-bfde-6dcbe2380b4d</a>
                            </p>
                            
                            <p style="margin: 0px; padding: 0px 0px 20px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000; line-height: 22px;">
                                If you have any questions you can contact us at <a href="mailto:contact@eventnx.com" style="text-decoration: none; color: #d21180;">contact@eventnx.com</a>.
                            </p>
                            <p style="margin: 0px; padding: 0px 0px 0px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000; line-height: 22px;">
                                <b>
                                    Thanks
                                    and Cheers,
                                </b> <br />The Entire EventNX team
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style='height:50px;'></td>
                    </tr>
                </table>
                <table border='0' cellpadding='0' cellspacing='0' width='100%' bgcolor='#d8d8d8'
                       style='margin-top:20px;'>
                    <tr>
                        <td style='height:15px;'></td>
                    </tr>
                    <tr>
                        <td style='font-size:14px;text-align:center'>
                            <p style='text-align:center; font-family: Arial, Helvetica, sans-serif; font-size:12px; line-height: 18px;'>
                                <strong> Email :</strong><a href="mailto:@LinkedInDemo.Class.AdminSiteConfiguration.CompanyEmail">@LinkedInDemo.Class.AdminSiteConfiguration.CompanyEmail</a>
                                Phone :
                                </strong> +91 97261 88777
                            </p>
                            <p style='text-align:center; font-family: Arial, Helvetica, sans-serif; font-size:12px;'>
                                <strong>Address :</strong>4th Floor, Aarna One,
                                Kalali, Vadodara, Gujarat, India.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style='height:15px;'></td>
                    </tr>
                </table>
                <table border='0' cellpadding='0' cellspacing='0' width='100%' style='margin-top:20px;'>
                    <tr>
                        <td style='height:30px;'></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


