@model LinkedInDemo.Models.ForgotPasswordmodel
@using DataLayer
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<section class="login_bg forgot_pass">
            <div class="mainBlock">
                <h2>Forgot Password</h2>
                @*<div class="">*@ @*login_form*@
                <div class="login_form">
                    
                    @if (ViewBag.success != null)
                    {
                        <div class="alert alert-success">
                            <div class="tick text-center" style="color:green">
                               @ViewBag.success
                            </div>
                        </div>
                    }
                    @if (ViewBag.error != null)
                    {
                        <div class="alert alert-danger">
                            <div class="tick text-center">
                                @ViewBag.error
                            </div>
                        </div>
                   

                        <div class="form-group" style=" text-align:center">
                            <div style="text-align:center">
                                <p style="text-align:center; padding:5px 0px 10px 0px;"> Click here to Login</p>
                                <a class="btn_pinkcolor" href="@Url.Action("Login", "Account")">Login</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <form>
                                <div class="form-group">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", maxlength = 80, @placeholder = "Email Id" })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                                <div class="form-group margintop20">
                            <div class="set_tow_btn">
                                <button class="btn btnblack">Submit</button>
                                <a class="btn btnRed" href="@Url.Action("Login", "Account")">Cancel</a>
                            </div>
                        </div>                               
                            </form>
                        </div>
                    }
                </div>
                </div>             
                </section>

}
