@model LinkedInDemo.Models.Changepasswordmodel

@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        <section class="login_bg forgot_pass">
            <div class="mainBlock">
               <h2>Reset Password</h2>
                @*<div class="">*@ @*login_form*@
                <div class="login_form">

                    @if (ViewBag.success != null)
                    {
                        <div><h5>@ViewBag.success </h5></div>
                        <div class="form-group" style=" text-align:center">
                            <div class="col-md-offset-2 col-md-5" style="text-align:center">
                                <p style="text-align:center"> Go to Login Page</p>
                                <a class="btn btnRed" href="@Url.Action("Login", "Account")">Login</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (ViewBag.error != null)
                        {
                            <div class="alert alert-danger">
                                <div class="cross">
                                    <div><h5>@ViewBag.error  </h5></div>
                                </div>
                            </div>
                        }         <div>
                                        <form>
                                            <div class="form-group">
                                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", maxlength = 80, @placeholder = "New Password" })
                                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", maxlength = 80, @placeholder = "Confirm Password" })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.ActivationCode)
                                            </div>
                                            <div class="form-group margintop20">
                                                <div class="set_tow_btn">
                                                    <button class="btn btnblack">Submit</button>
                                                    <a class="btn btnRed" href="@Url.Action("Login", "Account")">Cancel</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    }
                                </div>
                            </div>
</section>
}
