
@model IEnumerable<LinkedInDemo.Models.OrderModel>
    @using DataLayer
    @{
        Layout = null;
    }
        <div id="grddata">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pad-top">
                        @if (ViewBag.StatusMessage.ToString() == "SuccessDelete")
                        {
                            <div class="alert alert-success">
                                <div class="tick">
                                    Record Deleted Successfully.
                                </div>
                            </div>

                        }
                        @if (ViewBag.StatusMessage.ToString() == "Error")
                        {

                            <div class=" alert alert-danger">
                                <div class="cross">
                                    Error... Please Try Again.
                                </div>
                            </div>

                        }
                        @if (ViewBag.StatusMessage.ToString() == "NoItem")
                        {
                            <div class=" alert alert-danger">
                                <div class="cross">
                                    There are no items to show in this view.
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
            <div class="row search-areamain marleftzero">
                <div class=" col-md-4 col-sm-5 padleftzero">
                    <div class="center_div">
                        @{
                            ViewBag.TotalRecords = ViewBag.TotalOrder;
                            Html.RenderPartial("_PageSize");
                        }
                    </div>
                </div>
                <div class="col-md-8 col-sm-7 padrightzero">
                    @*<div class="searchareamain">
                        <ul>
                            <li> <input name="txtSearchTitle" type="text" maxlength="100" class="form-control" id="txtSearchTitle" style="width: 100%;" placeholder="Event URL"></li>
                            <li>  <input type="submit" name="btnSearch" value="Search" id="btnSearch" onclick="javascript:FunSearchRecord();" class="btn btnRed"></li>

                        </ul>
                    </div>*@
                </div>

                <div class="clear"></div>

            </div>
            <div class="datatable">
                <div class="table-responsive">
                    <table class="table borderbtm">
                        <tbody>
                            <tr>
                                <th class="text-center" width="8%">Order Id</th>
                                <th class="text-center" >Customer Name</th>
                                <th class="text-center" >Order Total</th>
                                <th class="text-center" >Order Status</th>
                                <th class="text-center" >Order Completed Date</th>
                                @*<th class="text-center" >Remarks</th>*@
                                <th class="text-center" width="100">Action</th>
                            </tr>
                            @foreach (var e in Model)
                            {
                                <tr>
                                    <td class="text-center">@e.OrderId</td>
                                    <td class="text-center">@e.FirstName @e.LastName</td>
                                    <td class="text-center">$@e.OrderTotal.ToString("#,##0.00")</td>
                                    <td class="text-center" >@e.OrderStatus</td>
                                    <td class="text-center">@e.OrderCompletedDate.ToString("dd-MMM-yyyy")</td>
                                    @*<td class=" text-center">@e.Remarks</td>*@
                                    <td class="text-center"> <a href="@Url.Action("PrintInvoice","Order",new { OrderId = e.OrderId } )">Print</a></td>
                                   
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mar_top_15">
                @{
                    Html.RenderPartial("_Pagination");
                }
            </div>
        </div>


        <script>

    var top=0;

    function FunPageIndex(pageindex)//grid pagination
    {
        GetData(0,pageindex, '@ViewBag.OrderByVal',@ViewBag.IsAscVal,@ViewBag.PageSize,'@ViewBag.Alpha',@ViewBag.SearchRecords,'@ViewBag.SearchTitle');
    }


    function FunPageRecord(PageRecord)//Grid Page per record
    {
        GetData(0,1, '@ViewBag.OrderByVal',@ViewBag.IsAscVal,PageRecord,'@ViewBag.Alpha',@ViewBag.SearchRecords,'@ViewBag.SearchTitle');
    }

    function FunSearchRecord()//Search
    {
        var element_txtSearchTitle = document.getElementById('txtSearchTitle').value;
        GetData(1,1,'@ViewBag.OrderByVal',@ViewBag.IsAscVal,@ViewBag.PageSize,'','',element_txtSearchTitle);
    }

    function GetData(IsBindData_val,PageIndex,orderby_val,isAsc_val,PageSize_val,alpha_val,SearchRecords_val,SearchTitle_val)
    {
        $.ajax({
            url: '/Order/Grid',
            data: {IsBindData: IsBindData_val, currentPageIndex: PageIndex,orderby:orderby_val.trim(),IsAsc:isAsc_val,PageSize:PageSize_val,SearchRecords:SearchRecords_val,Alpha:alpha_val,SearchTitle:SearchTitle_val },
            beforeSend: function () {  },
            success: function (response) {
                $('#grddata').empty();
                $('#grddata').append(response);
            }
        });
    }

    function FunWithSelected() {

        var e = document.getElementById("SelectedRecord");
        var strUser = e.options[e.selectedIndex].value;

        var suc=0;

        if (strUser != "") {
            $('#SelectedRecord').css("border-color", "#cdcdcd");
            $('#SelectedRecord').css("background", "#FFFFFF");
            if(strUser==1)
            {
                var check = confirm("Are you sure you want to Delete selected all record?");
                if (check == true) {

                    var checkboxes = document.getElementsByName('chk');
                    for(var i=0, n=checkboxes.length;i<n;i++) {
                        if(checkboxes[i].checked==true)
                        {
                            Delete(checkboxes[i].value);
                        }
                    }
                    suc=1;

                }
            }

            if(suc==1)
            {
                GetData(1,@ViewBag.CurrentPageIndex,  '@ViewBag.OrderByVal',@ViewBag.IsAscVal,@ViewBag.PageSize,'@ViewBag.Alpha',@ViewBag.SearchRecords,'@ViewBag.SearchTitle');
                return true;
            }
            else{
                return false;
            }


        }
        else {
            $('#SelectedRecord').css("border-color", "#FF0000");
            $('#SelectedRecord').css("background", "#f9e8e8");
            return false;
        }
    }

    function Delete(id) {
        var check = confirm("Are you sure you want to Delete this record?");
        if (check == true) {
            $.ajax({
                method: "POST",
                url: '/Order/Delete',
                data: { eventid: id },
                success: function (response) {
                    $('#grddata').empty();
                    $('#grddata').append(response);
                }
            });
        }
    }

    $(document).ready(function(){

        document.getElementById('SelectRecords').value = @ViewBag.PageSize;




    });
        </script>


        <script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function FunCheck() {
        checkboxes = document.getElementsByName('chk');

        if (document.getElementById("CdkSelect").checked == true) {
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = true;
            }
        }
        else {
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = false;
            }
        }
    }
        </script>
