
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>Event nx</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">
    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- Main css -->
    <link href="~/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <style>
        .navbar-expand-lg .navbar-nav .nav-item:first-child .nav-link.active {
            color: rgba(255,255,255,.5);
        }

            .navbar-expand-lg .navbar-nav .nav-item:first-child .nav-link.active::after {
                display: none;
            }
    </style>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">
    <!-- Nav Menu -->
    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/images/logo_eventnx1.png" class="img-fluid" alt="Event nx"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Home")#about_us">ABOUT US</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Home")#whyus">WHY US</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Home")#benefits">BENEFITS</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Home")#features">FEATURES</a> </li>
                                <!--<li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>-->
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Home")#pricing">PRICING</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Action("Index","Home")#contact">CONTACT</a> </li>
                                <li class="nav-item"><a href="@Url.Action("Login","Account")" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Login</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <header class="" id="home">
        <div class="container mt-5">
            <h1>Privacy Policy</h1>
        </div>
        <Br>
    </header>

    <div class="section privacy_policy">
        <div class="container">
            <!--<div class="section-title"><br>
                <h3>Privacy Policy</h3>
            </div>-->
            <div>
                <p>This website is maintained and handled by Event NX ("we", "us" and/or "our") and has been generated to provide information about our company and its services. This Privacy Policy applies to all visitors and users of our products ("you" and/or "your"). By going through our website or using Services, you are accepting the policies described herein.</p>
                <p>This Privacy Policy particularizes our exercises regarding assemblage and application of information about you. It also particularizes your access to information about you that we assemble, and your options to opt-out of our use and sharing of information. This Privacy Policy applies to deals made, and data assembled, on our website only and does not apply to any other website, even websites to which we provide links. You must contact that specific website to determine their privacy practices, which might differ from ours..</p>
                <p>Please scrutinize this Privacy Policy frequently as we may recondition it from time to time. Each time you visit or use our Service or provide us with any information, you are hereby accepting the practices described in this Privacy Policy at that time. You expressly consent to our use and disclosure of your information as provided herein.</p>
                <p>Event NX reserves the right to transfer Personal Information in the event that we merge with or are acquired by a third party. We also may disclose your Personal Information for any other purpose permitted by law or to which you consent.</p>
                <p>Event NX IS NOT RESPONSIBLE FOR ANY THIRD-PARTY PRIVACY PRACTICES.</p>
                <h4>Data We Collect</h4>
                <p>When you use our services, make payments, register from the Event NX website, Event NX may ask you to furnish contact and information by consent an online form. We gather this information for a variety of reasons, including Event NX's effort to inform you of upgrades, changes in service, special offers, and other products and services that you may be interested in. When you submit personal information to Event NX, you understand and agree that Event NX may access, store, and use your customer profile in any of the countries that Event NX has offices. As a result, this information may be subject to ingress requests from governments, courts, or law enforcement in those jurisdictions according to laws in those jurisdictions.</p>
                <p>Event NX is not in charge of content or privacy practices of web sites that are not allied with Event NX or any other site that may or may not be related to the Event NX pages.</p>
                <p>Two main types of information may be collected through the Site and our Services: Personal Information and Non-Personal Information. Personally Identifiable Information is Data that is personally identifiable when it can be reasonably linked to a particular person, computer or device. This may include persistent identifiers such as device identifiers, MAC addresses and static IP addresses as well as first name/last name combination, email address, Social Insurance Number (Canada), Social Security Number (USA), Driving License Number as well as Passport Number. Event NX will only collect such Personally Identifiable Information as is reasonably necessary to run the Service effectively.</p>
                <p>"Non-Personal Information" is information of an anonymous nature, such as the domain used to access the Site, and the type and version of browser or operating system being used by visitors to the Site. </p>
                <p>The device or media on which your Personally Identifiable data is stored is identified and tracked by us. This is to ensure your Personally Identifiable data is protected and separated from non-Personally Identifiable data. Your security is important to us.</p>
                <h4>Usage of Cookies</h4>
                <p>The usage of Cookies is done to track content usage and traffic on the Site and to ensure obtaining the information requested. A cookie is a feature of web browser that consists of a text file that is placed on hard disk by a web server. The Site uses cookies to help it compile aggregate statistics about usage of this Site. This information is used to improve the content of the Site. You can set your browser to notify you when you are sent a cookie, giving you the chance to decide whether or not to accept it. If cookies are disabled, you may not be able to take advantage of all the features of the Site. We do not link any of the information we use in cookies to any personally identifiable information submitted by you when you are on the Site. Please apprehend that any data caught from this system is for internal use only and is not shared with anyone else.</p>
                <h4>Attendees &amp; Organizers</h4>
                <p>We accumulate Personal Data from you when you willingly provide such data to the Services. The Personal Data we may accumulate includes without limitation your name, address, email address, zip/postal code and other personally identifiable information.</p>
                <p>If you register for a paid event, we will use financial information from you only to exercise the negotiation, this information will not be collected or saved.</p>
                <h4>Personal Protection Information</h4>
                <p>The safety of your Personal Information is of foremost importance to us. We safeguard your Personal Information by maintaining physical, organizational and technological safeguards appropriate to the responsiveness of such Personal Information. Personal Information may only be accessed by persons within our organization who require such access to provide you with the services indicated above.</p>
                <p>We keep back Personal Information that we collect only as long as needful for the reason for which it was collected or to meet legal requirements. We demolish, Personal Information when it is no longer needed.</p>
                <p>Event NX takes the security of Personally Identifiable Information very earnestly. Event NX employs firewalls, anti-malware, strong encryption, intrusion detection and prevention systems.</p>
                <h4>Access</h4>
                <p>You have a right to ingress your Personal Information and to request an amendment to it if you consider it is imprecise. You also have the right to request your data to be deleted by withdrawing your consent to its use. To request corrections or withdraw your consent please send a request to Event NX.</p>
                <h4>Amendments To This Policy</h4>
                <p>The Services and our business may change periodically. As a consequence, it may be necessary for us to make amendments to this Privacy Policy. Event NX reserves the right, in its sole discretion, to update or modify this policy at any time (collectively, the "Modifications") amendments to this Privacy Policy will be posted to the Site with a change to the "Updated" section.</p>
                <p>Please scrutinize the Privacy Policy frequently, and especially before you provide personal data. Your continued use of the Services following the effectiveness of any Modifications to this policy establishes confirmation of those Modifications. If any Modification to this policy is not agreeable to you, you should cease accessing, browsing and otherwise using the Services.</p>
                <h4>Eu General Data Protection Regulation (gdpr)</h4>
                <p>In May 2018, a new data privacy law known as the EU General Data Protection Regulation (or the "GDPR") becomes effective. The GDPR requires Event NX and Organizers using the Services to provide Attendees with more information about the processing of their Personal Data</p>
                <p>Please check the GDPR Document.</p>
                <h5>No Marketing Based On Personal Data</h5>
                <p>Event NX will not use your personal data for marketing purposes without your explicit consent.</p>
                <h4>Security</h4>
                <p>Event NX shall use proper security measures to make your data secure. Event NX shall take appropriate security measures to reduce misuse and unauthorized access to personal data. </p>
                <h5>Providing Data To Third Parties</h5>
                <p>Event NX shall not provide your data to any third party, unless that is necessary for providing services or when this is required for legal compliance. In case of fraudulent use of services we may provide your personal data to the appropriate authorities for legal reasons.</p>
                <h5>Cookies On The Website</h5>
                <p>When using Event NX website cookies from the following parties will always be saved on your device, to analyse the usage of Event NX website. No personal information will be shared or saved. These cookies will help Event NX optimize the website and services.</p>
                <ul>
                    <li>Google (Analytics)</li>
                    <li>HubSpot</li>
                </ul>
                <p>Once you click "Accept", you will receive an optimal experience on Event NX website and give Event NX permission to save cookies from the following parties</p>
                <ul>
                    <li>DoubleClick</li>
                    <li>Hotjar</li>
                    <li>LinkedIn</li>
                </ul>
                <p>By contacting Event NX via the contact form, Event NX may collect further personal information about you through the above mentioned parties. This will help Event NX to provide you with the best experience on Event NX website and optimize the content of Event NX website, newsletter and other services, based on the way people make use of Event NX.</p>
                <p>You can stop cookies being downloaded to your device by selecting the appropriate settings in your browser. Most browsers will tell you how to stop accepting new cookies and how to disable existing cookies. You may also opt-out of certain functional and advertising cookies by clicking on "Decline". Please note that this does not opt you out of the anonymous cookies. By declining the use of cookies, you may not be able to take full advantage of Event NX website features.</p>
                <p>You can stop cookies being downloaded to your device by selecting the appropriate settings in your browser. Most browsers will tell you how to stop accepting new cookies and how to disable existing cookies. You may also opt-out of certain functional and advertising cookies by clicking on "Decline". Please note that this does not opt you out of the anonymous cookies. By declining the use of cookies, you may not be able to take full advantage of Event NX website features.</p>
                <h5>Cookies In Our Tool</h5>
                <p>Event NX only uses functional cookies necessary to make the tool work correctly. Event NX does not save any third party cookies on your device.</p>
                <h4>Contact Us</h4>
                <p>If you have any queries concerning this Privacy Policy, or to ingress your information, please visit the Contact Us section of the Site.</p>


                <h4>Data Retention:</h4>
                <p></p>
This outlines how documents and data, including documents with personal data, are retained
and protected within our organization and when applicable destroyed by the organization. We
are committed to preventing unauthorised access to data which we have in our control. Electronically stored data will be erased after they have been retained until the end of the
document retention schedule. </p>
<p>The Company and its employees should therefore, on a regular
basis, review all data, whether held electronically on their device or on paper, to decide
whether to destroy or delete any data once the purpose for which those documents were
created is no longer relevant. Appropriate controls shall be in place that prevents the
permanent loss of essential information of the company as a result of malicious or
unintentional destruction of information.</p>
<p> The person appointed with responsibility for Data
Protection has the responsibility to ensure that each of the Company's employees complies
with this Policy and, if necessary, update the document at least once a year.</p>
            </div>
        </div>
    </div>
    <!-- // end .section -->
    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> 1485 Pacific St, Vadodara, Gujarat, India.</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:support@eventnx.com">support@eventnx.com</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2"></span> <a href="tel:51836362800">518-3636-2800</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="#"><span class="ti-facebook"></span></a>
                        <a href="#"><span class="ti-twitter-alt"></span></a>
                        <a href="#"><span class="ti-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // end .section -->
    <footer class="my-5 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2 fnt_capital"><small>Copyrigh &copy; 2019. All Rights Reserved. Event nx</small></p>
        <small>
            <a href="#" class="m-2">PRESS</a>
            <a href="#" class="m-2">TERMS</a>
            <a href="@Url.Action("Privacy","Home")" class="m-2">PRIVACY</a>
        </small>
    </footer>

    <!-- jQuery and Bootstrap -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="~/js/jquery.ihavecookies.js"></script>
    <script type="text/javascript">
        var options = {
            title: '&#x1F36A; Accept Cookies & Privacy Policy?',
            message: 'EventNX uses analytical (non personal) cookies to gain insight into the usage of our website. Once you click "Accept", you will receive an optimal and more personal experience on our website and give us permission to save cookies from additional parties.',
            delay: 600,
            expires: 1,
            link: '#privacy',
            onAccept: function() {
                var myPreferences = $.fn.ihavecookies.cookie();
                console.log('Yay! The following preferences were saved...');
                console.log(myPreferences);
            },
            uncheckBoxes: true,
            acceptBtnLabel: 'Accept Cookies',
            moreInfoLabel: 'More information',
            cookieTypesTitle: 'Select which cookies you want to accept',
            fixedCookieTypeLabel: 'Essential',
            fixedCookieTypeDesc: 'These are essential for the website to work correctly.'
        }

        $(document).ready(function() {
            $('body').ihavecookies(options);

            if ($.fn.ihavecookies.preference('marketing') === true) {
                console.log('This should run because marketing is accepted.');
            }

            $('#ihavecookiesBtn').on('click', function() {
                $('body').ihavecookies(options, 'reinit');
            });
        });

    </script>
    <script src="~/js/script.js"></script>
    <script src="~/js/customScript.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.js"></script>
    <script>
        (function($) {
            $(window).on("load", function() {
                $("#content-1").mCustomScrollbar({
                    theme: "minimal"
                });

            });
        })(jQuery);

    </script>
</body>

</html>
