
@model IEnumerable<LinkedInDemo.Models.ManageEventModel>
@using DataLayer
@{
    Layout = null;
}
<div id="grddata">
    <div class="row">
        <div class="col-sm-12">
            <div class="pad-top">
                @if (ViewBag.StatusMessage.ToString() == "SuccessDelete")
                {
                    <div class="alert alert-success">
                        <div class="tick">
                       Record Deleted Successfully.
                        </div>
                    </div>

                }
                @if (ViewBag.StatusMessage.ToString() == "Error")
                {

                    <div class=" alert alert-danger">
                        <div class="cross">
                           Error... Please Try Again.
                        </div>
                    </div>

                }
                @if (ViewBag.StatusMessage.ToString() == "NoItem")
                {
                    <div class=" alert alert-danger">
                        <div class="cross">
                            There are no items to show in this view.
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
    <div class="row search-areamain marleftzero">
        <div class=" col-md-4 col-sm-5 padleftzero">
            <div class="center_div">
                @{
                    ViewBag.TotalRecords = ViewBag.manageusercount;
                    Html.RenderPartial("_PageSize");
                }
            </div>
        </div>
       

        <div class="col-md-8 col-sm-7 padrightzero">
            <div class="searchareamain">
              @if (Model.Count() > 0)
            {
                <li><a id="addToTable1" class="btn btnRed width_auto" href="@Url.Action("ExporttoExcel", "ManageEvents")"><i class="fa fa-file-excel-o"></i></a></li>
            }
                @*<ul>
                    <li> <input name="txtSearchTitle" type="text" maxlength="100" class="form-control" id="txtSearchTitle" style="width: 100%;" placeholder="Domain Name"></li>
                    <li>  <input type="submit" name="btnSearch" value="Search" id="btnSearch" onclick="javascript:FunSearchRecord();" class="btn btn-primary "></li>

                </ul>*@
            </div>
        </div>

        <div class="clear"></div>

    </div>
    <div class="datatable">
        <div class="table-responsive">
            <table class="borderbtm">
                <tbody>
                    <tr>
                        @*<th>Customer No</th>*@
                        <th>Customer Name</th>
                        <th>Event Name</th>
                        <th>Event Start Date</th>
                        <th>Event End Date</th>
                        <th>Registered Users</th>
                        <th>Referred Users</th>
                        @*<th style="text-align:center">Action</th>*@
                    </tr>
                    @foreach (var e in Model)
                    {
                    <tr>
                        <td>@e.CustomerName</td>
                        <td>@(e.EventName)</td>
                        <td>@e.EventStartDate.ToString("dd-MMM-yyyy")</td>
                        <td>@e.EventEndDate.ToString("dd-MMM-yyyy")</td>
                        <td>@e.RegisteredUser.ToString("#,##0") </td>
                        <td>@e.RefferedUser</td>
                        @*<td class="text-center" width="180px">
                            <a href="@Url.Action("Edit","ManageUser",new { CustomerId = e.CustomerId })" class="on-default edit-row iconbtn" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                            <a onclick="Delete(@e.CustomerId);" class="fa fa-remove iconbtn" data-toggle="tooltip" data-placement="top" title="Delete"></a>
                            <a href="@Url.Action("AddCredit","Transactions",new { CustomerId = e.CustomerId })" data-toggle="tooltip" data-placement="top" title="Add / Deduct Credit"><i class="fa fa-plus"></i></a>
                        </td>*@
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mar_top_15">
        @{
            Html.RenderPartial("_Pagination");
        }
    </div>
</div>


<script>

    var top=0;

    function FunPageIndex(pageindex)//grid pagination
    {
        GetData(0,pageindex, '@ViewBag.OrderByVal',@ViewBag.IsAscVal,@ViewBag.PageSize,'@ViewBag.Alpha',@ViewBag.SearchRecords,'@ViewBag.SearchTitle');
    }


    function FunPageRecord(PageRecord)//Grid Page per record
    {
        GetData(0,1, '@ViewBag.OrderByVal',@ViewBag.IsAscVal,PageRecord,'@ViewBag.Alpha',@ViewBag.SearchRecords,'@ViewBag.SearchTitle');
    }

    function FunSearchRecord()//Search
    {
        var element_txtSearchTitle = document.getElementById('txtSearchTitle').value;
        GetData(1,1,'@ViewBag.OrderByVal',@ViewBag.IsAscVal,@ViewBag.PageSize,'','',element_txtSearchTitle);
    }

    function GetData(IsBindData_val,PageIndex,orderby_val,isAsc_val,PageSize_val,alpha_val,SearchRecords_val,SearchTitle_val)
    {
        $.ajax({
            url: '/ManageUser/Grid',
            data: {IsBindData: IsBindData_val, currentPageIndex: PageIndex,orderby:orderby_val.trim(),IsAsc:isAsc_val,PageSize:PageSize_val,SearchRecords:SearchRecords_val,Alpha:alpha_val,SearchTitle:SearchTitle_val },
            beforeSend: function () {  },
            success: function (response) {
                $('#grddata').empty();
                $('#grddata').append(response);
            }
        });
    }

    function FunWithSelected() {

        var e = document.getElementById("SelectedRecord");
        var strUser = e.options[e.selectedIndex].value;

        var suc=0;

        if (strUser != "") {
            $('#SelectedRecord').css("border-color", "#cdcdcd");
            $('#SelectedRecord').css("background", "#FFFFFF");
            if(strUser==1)
            {
                var check = confirm("Are you sure you want to Delete selected all record?");
                if (check == true) {

                    var checkboxes = document.getElementsByName('chk');
                    for(var i=0, n=checkboxes.length;i<n;i++) {
                        if(checkboxes[i].checked==true)
                        {
                            Delete(checkboxes[i].value);
                        }
                    }
                    suc=1;

                }
            }

            if(suc==1)
            {
                GetData(1,@ViewBag.CurrentPageIndex,  '@ViewBag.OrderByVal',@ViewBag.IsAscVal,@ViewBag.PageSize,'@ViewBag.Alpha',@ViewBag.SearchRecords,'@ViewBag.SearchTitle');
                return true;
            }
            else{
                return false;
            }


        }
        else {
            $('#SelectedRecord').css("border-color", "#FF0000");
            $('#SelectedRecord').css("background", "#f9e8e8");
            return false;
        }
    }

    function Delete(id) {
        var check = confirm("Are you sure you want to Delete this record?");
        if (check == true) {
            $.ajax({
                method: "POST",
                url: '/ManageUser/Delete',
                data: { CustomerId: id },
                success: function (response) {
                    $('#grddata').empty();
                    $('#grddata').append(response);
                }
            });

        }
    }

    $(document).ready(function(){

        document.getElementById('SelectRecords').value = @ViewBag.PageSize;




    });
</script>


<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function FunCheck() {
        checkboxes = document.getElementsByName('chk');

        if (document.getElementById("CdkSelect").checked == true) {
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = true;
            }
        }
        else {
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = false;
            }
        }
    }
</script>


